
@font-face {
font-family: Sidney;
src: url("fonts1 copy/Sidney.otf");
}
h1 {
  color: #6610f2;
  font-family: 'Sidney', sans-serif;
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  
}
.galeries {
  display: flex;
  justify-content: center;
  gap: 10px;          
  flex-wrap: wrap;    
}
.galeries h2 {
  width: 100%;        
  text-align: left;   
}
figure {
  border: 5px solid #c2a6ff;
  border-radius: 15px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  text-align: center;
  max-width: 250px;
  }

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  }
  figcaption {
  margin-top: 8px;
  font-size: 0.9rem;
  color: #555;
}

body {
	margin-block: 3%;
	margin-inline: 6%;
	background-color: #66A1FF;
	color: #000000;
}
h2 {
	text-align: left; 
    font-family:Helvetica,Verdana, Arial;
	font-size: 25px; 
	padding: 10px;
    color: #6610f2;
    font-weight: bold;    
    text-align: left; 
    
}